.Form {
	text-align: center;
}

.Form-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #282c34;
}

.block-remove {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.settings {
	margin: 3px 0;
}

.my-btn {
	margin-top: 10px;
}

.pair {
	margin-right: 20px;
}
